  /* common styles */
 html {
    box-sizing: border-box;
 }

 *, *::before, *::after {
    box-sizing: inherit;
 }

 a {
    text-decoration: none;
 }

 ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
 }

 h1, h2, h3, h4, h5, h6 {
    margin: 0;
 }

 body {
    margin: 0;
    color: #272D38;
    font-family: serif;font-family: 'Inter', sans-serif;
 }

.container {
    max-width: 1110px;
    padding: 0 15px;
    margin: 0 auto;
}

 /* header styles */
 .header {
    padding-top: 40px;
    padding-bottom: 97px;
 }
 .header__container {
    display: flex;
    justify-content: space-between;
 }
.header__logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;    
    color: #272D38;
    cursor: pointer;
}
.header__nav {
}
.header__nav-list {
    display: flex;
}
.header__nav-item:not(:last-child) {
    margin-right: 44px;
}
.header__nav-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-transform: lowercase;
    color: #272D38;
    transition: all;
    transition: color .3s ease;
}

.header__nav-link:hover{
    color: #8EADD5;
}